.auth {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

* {
	font-family: sans-serif;
	box-sizing: border-box;
}

form {
	width: 500px;
	padding: 30px;
}

h2 {
	text-align: center;
	margin-bottom: 40px;
}

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}

label {
	color: #000000	;
	font-size: 18px;
	padding: 25px;
}

.btn {
  background-color: #ff3bf8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn: hover {
  opacity: .7;
}

.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.success {
   background: #D4EDDA;
   color: #40754C;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}

.ca {
	font-size: 18px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #000000;
}

.ca:hover {
	text-decoration: underline;
} 